@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.avatar {
  object-fit: contain;
}

.avatar-uploader .el-upload:hover .overlay {
  opacity: 0.7;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}

.text-overlay {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button-overlay {
  position: absolute;
  top: 1%;
  right: 1%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.profile {
  width: 178px;
  height: 178px;
  display: block;
  border: 1px solid var(--el-border-color);
}
